<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>testPackage.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DirenajService</servlet-name>
		<servlet-class>direnaj.adapter.DirenajService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HashtagServlet</servlet-name>
		<servlet-class>testPackage.nlpTests.HashtagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDisplayServlet</servlet-name>
		<servlet-class>testPackage.ChartDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D3LibJsonUtilizer</servlet-name>
		<servlet-class>direnaj.adapter.DirenajD3LibService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommunitySentimentAnalysis</servlet-name>
		<servlet-class>direnaj.adapter.CommunitySentimentAnalysis</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MongoPaginationServlet</servlet-name>
		<servlet-class>direnaj.servlet.MongoPaginationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrganizedBehaviourDetection</servlet-name>
		<servlet-class>direnaj.servlet.OrganizedBehaviours</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CampaignCreationServlet</servlet-name>
		<servlet-class>direnaj.servlet.CampaignCreationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CampaignComparisonServlet</servlet-name>
		<servlet-class>direnaj.servlet.CampaignComparisonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrganizedBehaviorCampaignVisualizer</servlet-name>
		<servlet-class>direnaj.servlet.OrganizedBehaviorCampaignVisualizer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrganizedBehavioursExtractFeaturesServlet</servlet-name>
		<servlet-class>direnaj.servlet.OrganizedBehavioursExtractFeaturesServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>ListOrganizedBehaviourRequest</servlet-name>
		<jsp-file>/listOrganizedBehaviourRequests.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ListToolkitCampaigns</servlet-name>
		<jsp-file>/listToolkitCampaigns.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>CampaignVisualAnalysis</servlet-name>
		<jsp-file>/campaignAnalysisUserCreationTimes.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListOrganizedBehaviourRequest</servlet-name>
		<url-pattern>/listOrganizedBehaviourRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListToolkitCampaigns</servlet-name>
		<url-pattern>/listToolkitCampaigns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CampaignVisualAnalysis</servlet-name>
		<url-pattern>/campaignVisualAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MongoPaginationServlet</servlet-name>
		<url-pattern>/MongoPaginationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrganizedBehaviourDetection</servlet-name>
		<url-pattern>/organizedBehaviourDetection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CampaignCreationServlet</servlet-name>
		<url-pattern>/campaignCreation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrganizedBehavioursExtractFeaturesServlet</servlet-name>
		<url-pattern>/organizedBehaviourExtractFeature</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>CampaignComparisonServlet</servlet-name>
		<url-pattern>/campaignHashtagComparison</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DirenajService</servlet-name>
		<url-pattern>/services</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HashtagServlet</servlet-name>
		<url-pattern>/hashtagAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDisplayServlet</servlet-name>
		<url-pattern>/chartDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D3LibJsonUtilizer</servlet-name>
		<url-pattern>/d3LibJsonUtilizer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommunitySentimentAnalysis</servlet-name>
		<url-pattern>/communitySentimentAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrganizedBehaviorCampaignVisualizer</servlet-name>
		<url-pattern>/organizedBehaviorCampaignVisualizer</url-pattern>
	</servlet-mapping>
</web-app>